@import "../../variables";

.header-container {
  width: 100%;
  background-color: $base-color;

  .header-content {
    display: flex;
    justify-content: space-between;

    .title {
      color: white;
      font-size: 2rem !important;
      font-weight: bold !important;
      text-decoration: underline !important;
    }

    .header-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      #first-item {
        margin-right: 20px;
      }
      .header-icon {
        padding: 0;
        * {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}