.post-preview {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  .post-comments{
    border-radius: 5px;
    flex: 0 1 100%;
    overflow-y: auto;
    padding: 0 3px;
  }
  .create-post-comment{
    .actions {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      width: 100%;
    }
  }
}