.post {
  border-radius: 5px;
  display: flex;
  height: 100%;
  padding: 10px;
  color: white;
  flex-direction: column;
  justify-content: space-between;

  .post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    .location-user {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e3e3e3;
    }

    .text-vote-container {
      display: flex;
      flex: 0 1 100%;
      padding-top: 5px;
      .text-container {
        width: 100%;
        padding: 0 5px 5px 5px;
        text-overflow: ellipsis;
        max-height: 150px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .vote-container {
        border-left: 1px solid #e3e3e3;
      }
    }
  }
  .bottom-row {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}

.react-modal {
  position: absolute;
  inset: 10vh 30px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 999999;
  @media (min-width: 992px) {
    inset: 20vh 38vw;
  }
}